
.calculatorContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: grid;
  gap: 0.2em;
  grid-template-columns: repeat(4, 1fr);
  max-width: 350px;
  max-height: 300px;
}

.result {
  grid-column: 1 / span 4;
  background-color: rgb(165, 165, 165);
  color: white;
  text-align: right;
}

.key,
.number {
  font-weight: bold;
}

.key[value='0'] {
  grid-column: 1 / span 2;
}

.key[value='='],
.key[value='+'],
.key[value='x'],
.key[value='÷'],
.key[value='-'] {
  background-color: rgb(231, 135, 101);
}
